<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <h6><%= link_to "by #{post.user.name}", user_path(post.user.id),  class:"card-subtitle mb-2 text-muted"%></h6>
    <p class="card-text"><%= post.body %></p>
  </div>
</div>

