<h1 class="m-5">Recent Posts</h1>

<% if !@post.empty? %>
<% for i in @post do%>
  <span><%= i.title %> title</span>
  <br>
  <span><%= i.body %></span>
  <% if @user%>
    <span><%= i.user.name%></span>
  <% end %>
<% end %>
<% else %>
 <h4 class="alert-primary text-center p-4">Currently no post </h4>
<% end %>